*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
ol,
ul {
  list-style: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --step--2: clamp(0.6944rem, 0.692rem + 0.0125vw, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.8045rem + 0.144vw, 0.9377rem);
  --step-0: clamp(1rem, 0.931rem + 0.3448vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0714rem + 0.6431vw, 1.6663rem);
  --step-2: clamp(1.44rem, 1.2245rem + 1.0774vw, 2.2211rem);
  --step-3: clamp(1.728rem, 1.3879rem + 1.7003vw, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.5569rem + 2.5835vw, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.7235rem + 3.8243vw, 5.2609rem);
  --step-6: clamp(2.986rem, 1.8751rem + 5.5542vw, 7.0128rem);
  --space-3xs: clamp(0.25rem, 0.2328rem + 0.0862vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4655rem + 0.1724vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6983rem + 0.2586vw, 0.9375rem);
  --space-s: clamp(1rem, 0.931rem + 0.3448vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3966rem + 0.5172vw, 1.875rem);
  --space-l: clamp(2rem, 1.8621rem + 0.6897vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7931rem + 1.0345vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.7241rem + 1.3793vw, 5rem);
  --space-3xl: clamp(6rem, 5.5862rem + 2.069vw, 7.5rem);
  --space-3xs-2xs: clamp(0.25rem, 0.1466rem + 0.5172vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3793rem + 0.6034vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.6121rem + 0.6897vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.7586rem + 1.2069vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.2241rem + 1.3793vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.5172rem + 2.4138vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.4483rem + 2.7586vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 3.0345rem + 4.8276vw, 7.5rem);
  --space-s-l: clamp(1rem, 0.5862rem + 2.069vw, 2.5rem);
  --grid-max-width: 92.5rem;
  --grid-gutter: var(--space-m-l, clamp(1rem, 0.5862rem + 2.069vw, 2.5rem));
  --grid-columns: 12;
  --touch-target: 44px;
  --touch-target-sm: 32px;
  --header-padding: var(--grid-gutter);
  --header-content-height: max(var(--step-3), var(--touch-target));
  --header-height: calc((var(--header-padding) * 2) + var(--header-content-height));
  --primary-color: #a30013;
  --secondary-color: #e0001a;
  --accent-color: #ffb71c;
  --off-white: #fff6ea;
  --off-black: #212120;
  --light-off-black: #3c3c3c;
  --anim-cubic: cubic-bezier(0.65, 0, 0.35, 1);
}
.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}
.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}
.anim-fadeup {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.25s ease;
}
body:has(.nav-toggle[aria-expanded=true]) .anim-fadeup {
  opacity: 1;
  transform: translateY(0);
}
:has(.nav-toggle[aria-expanded=true]) {
  overflow: hidden;
}
#nav-main {
  inset: 0;
  padding-top: var(--header-height);
  padding-bottom: var(--space-m-l);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-l);
  z-index: 90;
  position: fixed;
  transition: visibility 0s var(--anim-cubic) 0.8s;
}
#nav-main:before {
  width: 300vmax;
  height: 300vmax;
  content: '';
  position: absolute;
  top: var(--nav-origin-y, calc(var(--grid-gutter) + (var(--touch-target) / 2)));
  left: var(--nav-origin-x, calc(100% - var(--grid-gutter) - (var(--touch-target) / 2)));
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(-50%, -50%) scale(0);
  transition: 0.8s var(--anim-cubic);
  will-change: transform;
}
#nav-main ul {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
}
#nav-main a {
  color: var(--off-white);
  font: bold var(--step-2) sans-serif;
  text-decoration: none;
  transition: color 0.25s ease;
}
#nav-main a:hover,
#nav-main a:active,
#nav-main a:focus-visible {
  color: var(--accent-color);
}
#nav-main .nav-main-utils {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);
}
#nav-main .nav-main-utils a {
  font-size: var(--step-0);
}
#nav-main .nav-main-utils .nav-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-2xs);
}
#nav-main .nav-main-utils .nav-socials a {
  width: var(--touch-target-sm);
  height: var(--touch-target-sm);
  display: grid;
  place-items: center;
}
#nav-main.is-open {
  visibility: visible;
  transition-delay: 0s;
}
#nav-main.is-open::before {
  transform: translate(-50%, -50%) scale(1);
}
#nav-main.is-open ul li:nth-child(1) {
  transition-delay: 0.44s;
}
#nav-main.is-open ul li:nth-child(2) {
  transition-delay: 0.52s;
}
#nav-main.is-open ul li:nth-child(3) {
  transition-delay: 0.6s;
}
#nav-main.is-open ul li:nth-child(4) {
  transition-delay: 0.68s;
}
#nav-main.is-open ul li:nth-child(5) {
  transition-delay: 0.76s;
}
#nav-main.is-open .nav-main-utils {
  transition-delay: 0.88s;
}
#nav-main.is-open .nav-main-utils .nav-socials {
  transition-delay: 0.96s;
}
header {
  padding-block: var(--header-padding);
  z-index: 100;
  position: sticky;
  top: 0;
}
header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-inner .logo-svg {
  height: var(--step-6);
  fill: var(--primary-color);
  transition: 0.25s ease;
}
@media (width > 768px) {
  header .header-inner .logo-svg {
    height: var(--step-4);
  }
}
header .header-inner:has(.nav-toggle[aria-expanded=true]) .logo-svg {
  fill: var(--accent-color);
  transition-delay: 0.25s;
}
header .header-inner .header-util {
  display: flex;
  align-items: center;
}
header .header-inner .header-util .cta {
  display: none;
}
header .header-inner .header-util .nav-toggle {
  width: var(--touch-target);
  height: var(--touch-target);
  display: grid;
  place-items: center;
  border: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}
header .header-inner .header-util .nav-toggle svg {
  grid-area: 1 / 1;
  stroke: var(--off-white);
  transition: opacity 0.25s cubic-bezier(0.65, 0, 0.35, 1), transform 0.25s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform, opacity;
}
header .header-inner .header-util .nav-toggle .nav-toggle-close {
  opacity: 0;
  transform: rotate(-90deg);
}
header .header-inner .header-util .nav-toggle[aria-expanded=true] .nav-toggle-close {
  opacity: 1;
  transform: rotate(0deg);
}
header .header-inner .header-util .nav-toggle[aria-expanded=true] .nav-toggle-open {
  opacity: 0;
  transform: rotate(90deg);
}
