// out: false, main: ../../less/main.less

header {
    .header-inner {
        // Display
        display: flex;
        align-items: center;
        justify-content: space-between;
        // Position
        position: sticky;
        
    }
}